.icon-container.email-icon {
    top: -30px;
    left: 26px;
    position: absolute;
}

.contact-card {
    padding-top: 70px !important;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 30px;
}

h1.message-text {
    margin-bottom: 50px;
}

.v-card__actions .v-btn.v-btn {
    padding: 0 19.5555555556px!important;
}
