.top-bar-wrapper {
    background-color: hsla(208, 18%, 83%, 0.28);
    border-bottom: 1px solid #8d8e9026;
}

.top-bar {
    margin: auto;
}

.phone-info-container {
    color: #696b6cba;
    font-size: 16px;
    font-weight: 500;
    padding: 5px;
    margin-right: 12px;
}

.phone-link:link {
    text-decoration: inherit;
    color: inherit;
    cursor: auto;
}

.phone-link:visited {
    text-decoration: inherit;
    color: inherit;
    cursor: auto;
}